# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
/.env
/.idea
/.vscode
/.editorconfig
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
*.log
*.sql
*.sqlite
.DS_Store
Thumbs.db

# Composer
composer.lock

# PHPStorm / VSCode / IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# PHPUnit / testing
phpunit.xml
.phpunit.result.cache
